Logs/
apps/__pycache__/
modules/__pycache__/
*.csv
!framework/benchmarks/heat_transfer/*.csv
!framework/benchmarks/hydrodynamics/*.csv
*.png
!Scheme.png
*.ipynb
framework/benchmarks/heat_transfer/MonaghanPhaseChange_output/
framework/benchmarks/heat_transfer/MonaghanPhaseChange_output/*.hdf5
!framework/benchmarks/heat_transfer/PhaseChangeSPH.ipynb
!framework/benchmarks/hydrodynamics/*.ipynb
*.drawio
*.pdf
*.pyc
*.log
outputs/