Logs/
apps/__pycache__/
modules/__pycache__/
*.csv
!benchmarks/heat_transfer/*.csv
!benchmarks/hydrodynamics/*.csv
*.png
!Scheme.png
*.ipynb
benchmarks/heat_transfer/MonaghanPhaseChange_output/
benchmarks/heat_transfer/MonaghanPhaseChange_output/*.hdf5
!benchmarks/heat_transfer/PhaseChangeSPH.ipynb
!benchmarks/hydrodynamics/*.ipynb
*.drawio
*.pdf
*.pyc